.git
.vscode
venv
.venv
**/__pycache__
*.py[cod]
**/.DS_Store

frontend/Present/node_modules
frontend/Present/dist
frontend/Present/.env
frontend/Present/.env.*

backend/vectorstore_db
backend/fed_multimodal_restcol/preprocess/output
backend/models
backend/data

npm-debug.log*
yarn-debug.log*
